<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'FORECASTS_LIST' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="deleteItem(sourceid)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" *ngIf="filteredItems?.length > 0" placeholder="Filter forecasts"></ion-searchbar>
  <div class="spinner-container" *ngIf="searching">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <ion-item-divider text-wrap color="light"><span padding-left float-end *ngIf="filteredItems?.length > 0">Found: {{filteredItems?.length}}</span>{{ pagetitle }}</ion-item-divider>
    <span ion-item *ngIf="filteredItems?.length == 0">No forecasts found</span>

    <ion-item-sliding *ngFor="let item of filteredItems" text-wrap no-lines>
      <button ion-item (click)="openUrl(item.URL)">
        <h2>{{item.TITLE}}</h2>
      </button>
    </ion-item-sliding>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
    <ion-col col-6> 
        <button ion-button color="primary" class="footer-button" (click)="showSummary('sourceindicators')">
          Summary
        </button>
    </ion-col>
    <ion-col col-6>
        <button ion-button color="primary" class="footer-button" (click)="doExport(sourceid)">
          Export
        </button>  
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>