<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'CHALLENGES_TITLE' | translate }}</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="searching"></ion-spinner>
  <ion-list>
    <!-- <ion-item>
      <ion-input type="text" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Filter challenges"></ion-input>
    </ion-item> -->
    <ion-item text-wrap no-lines *ngIf="filteredItems == 0">
      No challenges found
    </ion-item>
    <ion-item-divider text-wrap color="light" *ngIf="filteredItems?.length > 0">Found: {{filteredItems?.length}}</ion-item-divider>
    <ion-item-sliding *ngFor="let item of filteredItems" text-wrap>
      <button ion-item (click)="openItem(item.ID, item.TITLE)">
        <h2>{{item.TITLE}}</h2>
      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>