page-challenges {

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .list-header {
      font-size: 2rem;
    }

    .nav-search-bar {
    	width: 100%;
    	font-size: 1rem;
    }
    
}
